/* Reset / base */
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	-webkit-text-size-adjust: 100%;
}

body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
	color: inherit;
}

button {
	background: none;
	border: 0;
	cursor: pointer;
}

a {
	color: inherit;
	text-decoration: none;
}

ul[role="list"],
ol[role="list"] {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset,
legend {
	border: 0;
	padding: 0;
}

::selection {
	background: rgba(0, 0, 0, 0.15);
}

@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
:root{
	--background-default: #FAFAFA;
	--action-main:rgba(14, 13, 15, 0.64);
	--action-main-svg:rgb(14, 13, 15);
	--divider-main:rgba(14, 13, 15, 0.08);
	--text-primary: #0E0D0F;
	--secondary-48: rgba(250, 250, 250, 0.48);
	--white-contrast:#0A090A;
	--purple-main: #6F76C0;

}
.dark-mode--gamestore{
	--background-default: #0E0D0F;
	--action-main: rgba(255, 255, 255, 0.64);
	--action-main-svg:rgb(255, 255, 255);
	--divider-main: rgba(255, 255, 255, 0.12);
	--text-primary: #FFFFFF;
	--secondary-48: rgba(14, 13, 15, 0.60);
	--white-contrast: #FFFFFF;
}
body{
	font-family: Urbanist;
	font-style: normal;
}